<template>
	<div>
		<navbar></navbar>

		<div class="container">
			<div class="row justify-content-center">

				<div class="col-10 col-sm-10 col-md-9 col-lg-7">
					<div class="card mt-5">
						<div class="card-body p-5 text-justify">
							<form v-on:submit.prevent="addArticle">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Headline Title" ref="title" required>
									<label class="text-muted">Title</label>
								</div>

								<div class="form-group">
									<textarea class="form-control" rows="20" required ref="content">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna alit aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in volup est laborum.

nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</textarea>
									<label class="text-muted">Content</label>
								</div>

								<div class="form-group">
									<input type="url" class="form-control" placeholder="URL of image" ref="banner_img" value="https://via.placeholder.com/350x120" required>
									<label class="text-muted">Banner</label>
								</div>

								<div class="form-group">
									<select class="form-control" ref="status">
										<option value="published">Publish</option>
										<option value="draft">Draft</option>
									</select>
								</div>

								<button class="btn btn-sm btn-primary mt-3 float-right">Save Articles</button>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import config from '@/assets/config'
import navbar from './navbar'

export default {
	name: 'artticle-add',
	mixins: [],
	data() {
		return {}
	},
	components: {
		navbar
	},
	computed: {},
	methods: {
		addArticle: function(){
			let blogData = {
				title: this.$refs.title.value,
				author: '',
				content: this.$refs.content.value,
				banner_img: this.$refs.banner_img.value,
				status: this.$refs.status.value
			}

			blogData.author = JSON.parse(localStorage.getItem('userData'))['name']

			axios({
				method: 'POST',
				url: config.api + '/blogs',
				headers: config.headers,
				data: blogData
			})
				.then((response) => {
					this.$router.push('/articles')
				})
				.catch((err) => {
					console.log(err)
					alert('Uploading article failed!')
				})
		}
	},
	mounted() {},
	watch: {}
}
</script>

<style scoped>
</style>
