<template>
	<div>
		<navbar></navbar>

		<div class="container">
			<div class="row justify-content-center">

				<div class="col-10 col-sm-10 col-md-9 col-lg-7">
					<div class="card mt-5">
						<img class="card-img-top" :src="blog.banner_img || 'https://via.placeholder.com/350x80'" style="height: 120px;">
						<div class="card-body p-5 text-justify">
							<form v-on:submit.prevent="addArticle">
								<h3>{{ blog.title }}</h3>
								<small class="text-muted">{{ blog.created_at }}</small>

								<p class="mt-3 text-justify">{{ blog.content }}</p>
							</form>
						</div>
						<div class="card-footer text-muted text-justify">
							<small v-if="isMyArticle">
								<router-link :to="'/article/edit/' + blog.id" class="mr-3">EDIT</router-link>
								<a href="javascript:" class="text-danger" v-on:click="deleteBlog">DELETE</a>
							</small>
							<span v-else class="text-uppercase"><small>Author:</small> {{ blog.author }}</span>
							<small class="text-muted float-right">Last Updated: {{ blog.updated_at }} | <b>{{ blog.status }}</b></small>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import config from '@/assets/config'
import navbar from './navbar'

export default {
	name: 'article-page',
	props: [],
	mixins: [],
	data() {
		return {
			blog: {},
			isMyArticle: false
		}
	},
	components: {
		navbar
	},
	computed: {},
	methods: {
		getArticle: function(){
			const blogId = parseInt(this.$route.params.blog)
			const author = JSON.parse(localStorage.getItem('userData'))['name']

			axios({
				method: 'GET',
				url: config.api + '/blogs/' + blogId,
				headers: config.headers
			})
				.then((response) => {
					this.blog = response.data

					if (author === this.blog.author) {
						this.isMyArticle = true
					}
				})
				.catch((err) => {
					console.log(err)
					alert('Loading article failed!')
				})
		},
		deleteBlog: function(){
			if (confirm('Are you sure to remove article with title "' + this.blog.title + '"? ')) {
				axios({
					method: 'DELETE',
					url: config.api + '/blogs/' + this.blog.id,
					headers: config.headers
				})
					.then((response) => {
						this.$router.push('/articles')
					})
					.catch((err) => {
						console.log(err)
						alert('Removing article failed!')
					})
			}
		}
	},
	mounted() {
		this.getArticle()
	},
	watch: {}
}
</script>

<style scoped>
</style>
