<template>
	<div>
		<navbar></navbar>

		<div class="container">
			<div class="row">
				<div class="col-12 mb-4 text-justify">
					<div class="form-group">
						<label>Search Article Titles</label>
						<input type="text" placeholder="Press key 'Enter' to search" class="form-control" v-model="title" v-on:keyup.13="getArticles">
					</div>

					<label class="float-left"><input type="checkbox" class="mr-2" v-model="showMyBlog">My Articles</label>
					<button class="float-right btn btn-sm btn-primary" v-on:click="newArticle">New Article</button>
				</div>
			</div>

			<div class="row">
				<div class="col-6" v-for="blog in blogs" v-bind:key="blog.id">
					<div class="card mb-3">
						<img class="card-img-top" :src="blog.banner_img || 'https://via.placeholder.com/350x120'" style="height: 120px;">
						<div class="card-body text-justify">
							<router-link :to="'/article/view/' + blog.id" class="waves-effect waves-dark" aria-expanded="false"><h3>{{ blog.title }}</h3></router-link>
							<small class="text-muted mb-3 d-block text-uppercase font-weight-bold">By: {{ blog.author }}</small>
							<p class="card-text">{{ blog.content.substr(0, 250) + '...' }}</p>
						</div>
						<div class="card-footer text-muted text-justify">
							<small v-if="isMyArticle(blog)">
								<router-link :to="'/article/edit/' + blog.id" class="mr-3">EDIT</router-link>
								<a href="javascript:" class="text-danger" v-on:click="deleteBlog(blog)">DELETE</a>
							</small>
							<small class="text-muted float-right">Last Updated: {{ blog.updated_at }}</small>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center mt-3">
				<div class="col-8 text-center">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-secondary" v-on:click="changePage(-1)"><small><b>Back</b></small></button>
						<button type="button" class="btn btn-secondary"><small><b>Page {{ page }}</b></small></button>
						<button type="button" class="btn btn-secondary" v-on:click="changePage(1)"><small><b>Next</b></small></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import config from '@/assets/config'
import navbar from './navbar'

export default {
	name: 'article-list',
	mixins: [],
	data() {
		return {
			blogs: [],
			page: 1,
			showMyBlog: true,
			title: ''
		}
	},
	components: {
		navbar
	},
	computed: {},
	methods: {
		getArticles: function(){
			let author = '*'
			if (this.showMyBlog){ author = JSON.parse(localStorage.getItem('userData'))['name'] }

			let article = this.title
			if (article === undefined || article.trim() === ''){
				article = '*'
			}

			config.headers.Authorization = 'Bearer ' + localStorage.getItem('auth')

			if (localStorage.getItem('auth') === null){
				if (confirm('Unable to set proper auth token. Please refresh the page!')){
					window.location.reload()
				}
			}
			else {
				axios({
					method: 'GET',
					url: config.api + '/blogs/by/' + author + '/' + (this.page) + '/' + article,
					headers: config.headers
				})
					.then((response) => {
						this.blogs = response.data
					})
					.catch((err) => {
						console.log(err)
						alert('Fetch articles failed!')
					})
			}
		},
		deleteBlog: function(blog){
			if (confirm('Are you sure to remove article with title "' + blog.title + '"? ')) {
				axios({
					method: 'DELETE',
					url: config.api + '/blogs/' + blog.id,
					headers: config.headers
				})
					.then((response) => {
						this.getArticles()
					})
					.catch((err) => {
						console.log(err)
						alert('Removing article failed!')
					})
			}
		},
		newArticle: function(){ this.$router.push('/article/add') },
		isMyArticle: function(blog){
			let currentUser = JSON.parse(localStorage.getItem('userData'))['name']
			if (blog.author === currentUser){
				return true
			}

			return false
		},
		changePage: function(move){
			let currentPage = this.page + move
			if (currentPage > 0){ this.page = currentPage }
			this.getArticles()
		}
	},
	mounted() {
		setTimeout(this.getArticles(), 1000)
	},
	watch: {
		showMyBlog: function(){
			this.getArticles()
		}
	}
}
</script>

<style scoped>
</style>
