<template>
	<div>
		<navbar></navbar>

		<div class="container">
			<div class="row justify-content-center">

				<div class="col-10 col-sm-10 col-md-9 col-lg-7">
					<div class="card mt-5">
						<div class="card-body p-5 text-justify">
							<form v-on:submit.prevent="updateArticle">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Headline Title" v-model="blog.title" required>
									<label class="text-muted">Title</label>
								</div>

								<div class="form-group">
									<textarea class="form-control" rows="20" required v-model="blog.content"></textarea>
									<label class="text-muted">Content</label>
								</div>

								<div class="form-group">
									<input type="url" class="form-control" placeholder="URL of image" v-model="blog.banner_img" required>
									<label class="text-muted">Banner</label>
								</div>

								<div class="form-group">
									<select class="form-control" v-model="blog.status">
										<option value="published">Publish</option>
										<option value="draft">Draft</option>
									</select>
								</div>

								<button class="btn btn-sm btn-primary mt-3 float-right">Save Articles</button>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios'
import config from '@/assets/config'
import navbar from './navbar'

export default {
	name: 'article-edit',
	mixins: [],
	data() {
		return {
			blog: {},
			isMyArticle: false
		}
	},
	components: {
		navbar
	},
	computed: {},
	methods: {
		getArticle: function(){
			const blogId = parseInt(this.$route.params.blog)
			const author = JSON.parse(localStorage.getItem('userData'))['name']

			axios({
				method: 'GET',
				url: config.api + '/blogs/' + blogId,
				headers: config.headers
			})
				.then((response) => {
					this.blog = response.data

					if (author === this.blog.author) {
						this.isMyArticle = true
					}
				})
				.catch((err) => {
					console.log(err)
					alert('Loading article failed!')
				})
		},
		updateArticle: function(){
			axios({
				method: 'PUT',
				url: config.api + '/blogs/' + this.blog.id,
				headers: config.headers,
				data: this.blog
			})
				.then((response) => {
					this.$router.push('/articles')
				})
				.catch((err) => {
					console.log(err)
					alert('Loading article failed!')
				})
		}
	},
	mounted() {
		this.getArticle()
	},
	watch: {}
}
</script>

<style scoped>
</style>
