<template>
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-10 col-sm-10 col-md-8 col-lg-6">
				<div class="card mt-5">
					<div class="card-body p-5 text-justify">
						<h3 class="card-title text-center mb-4">Welcome!</h3>
						<form v-on:submit.prevent="login">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="johnDoe@email.com" value="adean@email.com" ref="email" required>
								<label class="text-muted">Email</label>
							</div>

							<div class="form-group">
								<input type="password" class="form-control" placeholder="******" value="supersecret" ref="password" required>
								<label class="text-muted">Password</label>
							</div>

							<button class="btn btn-block btn-primary">Login</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
import axios from 'axios'
import config from '@/assets/config'

export default {
	name: 'login',
	mixins: [],
	data() {
		return {}
	},
	components: {},
	computed: {},
	methods: {
		login: function(){
			axios({
				method: 'POST',
				url: config.api + '/login',
				headers: config.headers,
				data: {
					email: this.$refs.email.value,
					password: this.$refs.password.value
				}
			})
				.then((response) => {
					let userData = response.data.data
					localStorage.setItem('userData', JSON.stringify(userData))
					localStorage.setItem('auth', userData.api_token)

					setTimeout(() => {
						window.location.replace('/#/articles')
					}, 1000)
				})
				.catch((err) => {
					console.log(err)
					alert('login failed!')
				})
		}
	},
	mounted() {
		localStorage.removeItem('userData')
		localStorage.removeItem('auth')
	},
	watch: {}
}
</script>

<style scoped>
</style>
