<template>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="javascript:">My Blog</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<router-link class="nav-link" to="/articles">Home</router-link>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:" v-on:click="logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</template>

<script>
import axios from 'axios'
import config from '@/assets/config'

export default {
	name: 'navbar',
	mixins: [],
	data() {
		return {}
	},
	components: {},
	computed: {},
	methods: {
		logout: function(){
			axios({
				method: 'POST',
				url: config.api + '/logout',
				headers: config.headers
			})
				.then((response) => {
					localStorage.removeItem('auth')
					localStorage.removeItem('userData')

					this.$router.push('/')
				})
				.catch((err) => {
					console.log(err)
					alert('logout failed!')
				})
		},
		check: function(){
			if (!localStorage.getItem('auth')){ this.$router.push('/') }
		}
	},
	mounted() {
		this.check()
	},
	watch: {}
}
</script>

<style scoped>
</style>
